#!/bin/bash
#
#$ -cwd
#$ -S /bin/bash
#$ -j n
#$ -o logs/output.$JOB_NAME.$TASK_ID.txt
#$ -e logs/output.$JOB_NAME.$TASK_ID.err
#$ -p -100
#$ -R y


#export JAVA_HOME=/usr/java/latest
#export JAVA_HOME=$JAVA_DIR
#export JAVA_OPTS=$JAVA_OPTS" -Xmx2G -Dlog4j.configuration=log4j.properties"

if [ $JAVA_HOME'w' = 'w' ]; then
	export JAVA_HOME=/usr/java/latest
fi

cp="."
for f in `ls *.jar -1`; do
        cp=${cp}":"${f}
done

echo meta.cp=${cp}
echo meta.date.start=`date`
java -classpath $cp $JAVA_OPTS de.ismll.console.Generic "$@"

echo meta.date.end=`date`
